@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
}

body {
  background-color: #28223f;
  font-family: Montserrat, sans-serif;

  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */

  min-height: 100vh;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.cards {
  display: grid;

  grid-template-columns: auto auto auto;
  column-gap: 20px;
}

.card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;

  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 50px;
  height: auto;
}

.card-container .pro {
  color: #231e39;
  background-color: #e6a708;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 1.5px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
}
.card-container > img {
  height: 200px;
  object-fit: contain;
}

input.primary {
  background-color: #03bfcb;
  border: 2px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  margin: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
  height: auto;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}
