.header{
    height: auto;
    background-color: #0090AD;
    display: flex;
    padding: 20px;
 
}

.logo>h2{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
}
.logo>h5{
    color: rgb(176, 237, 255);
    letter-spacing: 2px;
    font-size: 9px;
}

.list{
   
   
  float: right;
  right: 55px;
  position: absolute;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: small;
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #231E39;
  }
  
  